# Python
__pycache__/
**/*.py[cod]
*$py.class
*.egg-info
.python-version

# build
build/
**/scala/project/target/
**/scala/target/
*.bit

# Rust
**/target/
Cargo.lock
**/*.rs.bk

# Cleanup
**/deleteme/
**/old/
TODO
*.md
Makefile
examples/soc/firmware/.cargo/cynthion.sh
examples/soc/firmware/.cargo/flash.cfg
*.svd
examples/soc/smolusb